<template>
  <Layout :pageTitle="`Tagged as ${$route.params.title}`">
    <div class="box">
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li class="is-active">
            <a aria-current="page">{{`Tagged as ${$route.params.title}`}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="section">
      <div class="container">
        <ul v-for="post in $page.posts.edges" :key="post.node.id">
          <li>
            <PostItem :post="post" />
          </li>
          <hr />
        </ul>
      </div>
    </section>
  </Layout>
</template>

<page-query>
query BlogsByTags($id: ID) {
  posts: allPost (filter: {tags: {contains: [$id]}}) {
    edges {
      node {
        title
        path
        excerpt
        featuredImage
        tags {
          id
          path
        }
      }
    }
  }
}
</page-query>

<script>
import PostItem from '../components/PostItem';
export default {
  components: { PostItem },
};
</script>
