<template>
  <Layout pageTitle="about">
    <section class="section">
      <div class="container">
        <div class="content">
          <h2>About</h2>
          <p>
            GridSomeによるスキルシートです。これまで経験のあるプログラミング言語およびフレームワークなどを簡単にまとめておりますので参考にしていただければ幸いです。
          </p>
          <p>
            Aboutページはスキルシートを一覧でみれるようなサマリを作成予定です。
          </p>

        </div>
      </div>
    </section>
  </Layout>
</template>


<script>
export default {
  metaInfo: {
    title: 'About',
  },
};
</script>
